* {
    margin: 0px;
    padding: 0px;
}
div#foto {
    width: 300px;
    height: 250px;
    background-image: url(http://recursos.cnice.mec.es/biosfera/alumno/1ESO/planeta_habitado/imagenes/planetatierra.jpg);
    background-size: contain;
}

div#info {
    width: 300px;
    height: 250px;
    background-image: url(http://oglobo.globo.com/blogs/arquivos_upload/2014/12/374_112-terra%20hades.jpg);
    opacity: 0;
    background-size: contain;
}

div#foto:hover #info {
    opacity: 1;
    position: absolute;
    top: 0px;
}
div#foto p {
    color: white;
}

div#boto {
    color: black;
    position: relative;
    text-align: center;
    top: 70%;
    background-color: white;
    width: 30%;
    height: 20%;
    left: 35%;
    cursor: pointer;
    border-radius: 10px;
    text-shadow: 5px;
}
div#boto:hover {
    background-color: red;
}
div#boto p {
    color: black;
    padding:15px;
}
